body {}

h1 {}

h2 {}

h3 {}

h4 {}

p {}

span {}

footer {
    text-align: center;
}

.title {
    background: #D0E4F5 url("https://images.pexels.com/photos/796306/pexels-photo-796306.jpeg?cs=srgb&dl=clouds-cold-daylight-796306.jpg&fm=jpg") no-repeat fixed 0px 0px;
    text-align: center;
}

.content {
    text-align: center;
}